<!--footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer-->

<footer>
    <div class="logo"></div>
    <a href="" class="facebook"><span class="hide">페이스북</span></a>
    <div class="lang">
        <a href="eng" class="en">EN</a>
        <a href="kor" class="kr">KR</a>
    </div>
    <div class="opt">
        <span class="addr">서울시 서대문구 경기대로 47, 1층(충정로2가, 진양빌딩)</span>
        <span class="tel">T. 02.878.0126</span>
        <span class="tel">F. 02.878.0136</span>
        <span class="email">E-mail : info@miraeclimate.com</span>
        <p class="copyright">COPYRIGHT 2015©4DSOLUTION  ALL RIGHTS RESERVED</p>
    </div>
</footer>
